* {
    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.text-center {
    text-align: center;
}

/* .margin-top-40 {
    margin top: 40px;
}

.container-cabecalho {
    text-align: center;
    padding: 20px;
    color: pink;
}

.container-cabecalho {
    font-weight: 600;
    font-size: 2em;
    color: yellow;
}
*/
.container-navegacao {
    text-align: right;
    padding: 10px;
    background-color: rgb(203, 203, 203);
    line-height: 50px;
    white-space: nowrap;
}

.container-navegacao-img {
    float: left;

}

.container-navegacao a {
    font-size: 1em;
    margin: 0px 10px;
    text-decoration: none;
    color: #6d6d6d;
    width: 2000px;

}

.container-navegacao a:hover {
    color: #000000;
}

body {
    background-image: url(IMG_4043\ copiar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: auto;

}

.container-fotos {
    float: center;
    /*margin: 60px auto;*/
    background: rgba(0, 0, 0, 0.75);
    /* width: 400px;*/
    padding: 121px;
    /*border-radius: 10px;*/
    text-align: center;
}

.container-pe {
    text-align: center;
    font-size: 1em;
    color: rgb(166, 166, 166);
    background: rgba(0, 0, 0, 0.75);

}

.icone {
    width: 0px;
    margin: 60px 0px 0px 0px;
    float: right
}

.icone2 {
    width: 0px;
    margin: 60px 60px 0px 0px;
    float: right
}

.icone3 {
    width: 00px;
    margin: 60px 60px 0px 0px;
    float: right
}

.icone4 {
    width: 30px;
    margin: 60px 30px 0px 0px;
    float: right
}

.btn {
    font-size: 15px;
    padding: 20px;
    border-radius: 50px;
    background: rgba(241, 237, 237, 0.75);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
    transition: background .8s;
    transition: color .5s;

}

.btn:hover {
    background-color: rgba(182, 175, 175, 0.75);
    color: rgba(60, 60, 60, 0.75);
}

.btn:active {
    background-color: rgba(255, 114, 114, 0.75);
    color: rgba(241, 237, 237, 0.75);
}

.btn2 {
    font-size: 17px;
    padding: 20px;
    border-radius: 50px;
    background: rgba(241, 237, 237, 0.75);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
    transition: background .8s;
    transition: color .5s;
}

@media screen and (max-width:576px) {
    .container-fotos {
        width: 90px;
        padding: 15.5em;
        text-align: center;
        margin: 0px 0px 0px 0px;
        display: block;
        line-height: 10px;
    }
}

@media screen and (max-width:576px) {

    body {
        width: 50%;
        padding: none;
        line-height: 50px;
        text-align: center;
        margin: 0px 0px 0px 0px;
        line-height: 10px;
        display: block;


    }
}

@media screen and (max-width:576px) {

    .container-navegacao {
        width: 195%;
        padding: none;
        margin: none;
        line-height: 50px;


    }
}

@media screen and (max-width:576px) {

    .icone,
    .icone2,
    .icone3,
    .icone4 {

        width: 10px;
        padding: none;
        margin: none;
        line-height: 1px;
        text-align: center;
        padding-right: none;

    }

}


@media screen and (max-width:576px) {

    .container-pe {
        width: 130%;
        text-align: center;
        padding: 100px;
        margin: 0px 0px 0px 0px;
        line-height: 20px;
        display: block;
    }

}






/*rgba(255, 114, 114, 0.75);